---
title: "503-Data-Cleaning"
author: "Yiming Chen"
format: 
  html:
      embed-resources: true
      code-copy: true
      code-fold: true
      code-line-numbers: true
      number-sections: true
      toc: true
execute:
  echo: true
---

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import geopandas

pio.renderers.default = "plotly_mimetype+notebook_connected"

In [4]:
# read in excel file
df = pd.read_excel("../../data/raw/gender_index_data/Gender_Inequality_Index.xlsx",sheet_name="Table 5", skiprows=7, nrows=195)

# keep and rename two columns
df = df.rename({'VERY HIGH HUMAN DEVELOPMENT':'Country', "Unnamed: 2":'Gender_Inequality_Index'}, axis='columns')

# keep only the country and gender inquality index columns
df1 = df[["Country", "Gender_Inequality_Index"]]

# drop all the rows with NA (e.g. VERY HIGH/HIGH/MEDIUM... HUMAN DEVELOPMENT)
df1 = df1.dropna()

# remove the countries that do not have an available gender inequality index value
df2 = df1[df1.Gender_Inequality_Index != ".."]

# reset index number
df2 = df2.reset_index(drop=True)

#df2.to_csv("df2.csv", sep='\t', encoding='utf-8')

In [5]:
# 21
df2["Country"] = df2["Country"].replace("Tanzania (United Republic of)", "Tanzania")
df2["Country"] = df2["Country"].replace("United States", "United States of America")
df2["Country"] = df2["Country"].replace("Congo (Democratic Republic of the)", "Dem. Rep. Congo")
df2["Country"] = df2["Country"].replace("Russian Federation", "Russia")
df2["Country"] = df2["Country"].replace("Bolivia (Plurinational State of)", "Bolivia")
df2["Country"] = df2["Country"].replace("Venezuela (Bolivarian Republic of)", "Venezuela")
df2["Country"] = df2["Country"].replace("Central African Republic", "Central African Rep.")
df2["Country"] = df2["Country"].replace("Equatorial Guinea", "Eq. Guinea")
df2["Country"] = df2["Country"].replace("Eswatini (Kingdom of)", "eSwatini")
df2["Country"] = df2["Country"].replace("Lao People's Democratic Republic", "Laos")
df2["Country"] = df2["Country"].replace("Viet Nam", "Vietnam")
df2["Country"] = df2["Country"].replace("Korea (Republic of)", "South Korea")
df2["Country"] = df2["Country"].replace("Iran (Islamic Republic of)", "Iran")
df2["Country"] = df2["Country"].replace("Syrian Arab Republic", "Syria")
df2["Country"] = df2["Country"].replace("Moldova (Republic of)", "Moldova")
df2["Country"] = df2["Country"].replace("TÃ¼rkiye", "Turkey")
df2["Country"] = df2["Country"].replace("Brunei Darussalam", "Brunei")
df2["Country"] = df2["Country"].replace("Cyprus", "N. Cyprus")
df2["Country"] = df2["Country"].replace("Bosnia and Herzegovina", "Bosnia and Herz.")
df2["Country"] = df2["Country"].replace("South Sudan", "S. Sudan")
df2["Country"] = df2["Country"].replace("Dominican Republic", "Dominican Rep.")

In [6]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world = world[["continent", "name", "iso_a3"]]
#world.to_csv("world.csv", sep='\t', encoding='utf-8')
print(world.head())

       continent                      name iso_a3
0        Oceania                      Fiji    FJI
1         Africa                  Tanzania    TZA
2         Africa                 W. Sahara    ESH
3  North America                    Canada    CAN
4  North America  United States of America    USA

In [7]:
df3 = world.merge(df2, how="left", left_on=['name'], right_on=['Country'])
#df3.to_csv("df3.csv", sep='\t', encoding='utf-8')
#df3

In [8]:
df3.isna().sum()

continent                   0
name                        0
iso_a3                      0
Country                    19
Gender_Inequality_Index    19
dtype: int64

In [9]:
df4 = df3.dropna()
#df4.to_csv("df4.csv", sep='\t', encoding='utf-8')
#df4['continent'] = df4['continent'].replace("North America", "North_America")
#df4['continent'] = df4['continent'].replace("South America", "South_America")
#df4.head()

In [10]:
all_time = pd.read_csv("../../data/raw/gender_index_data/All_Indices_Timeseries.txt")
# select only gender inequality index from 1990-2021
all_time = all_time[['iso3','country','gii_1990', 'gii_1991', 'gii_1992', 'gii_1993', 'gii_1994', 'gii_1995', 'gii_1996', 'gii_1997', 'gii_1998', 'gii_1999', 'gii_2000', 'gii_2001', 'gii_2002', 'gii_2003', 'gii_2004', 'gii_2005', 'gii_2006', 'gii_2007', 'gii_2008', 'gii_2009','gii_2010','gii_2011','gii_2012','gii_2013', 'gii_2014', 'gii_2015', 'gii_2016', 'gii_2017', 'gii_2018', 'gii_2019', 'gii_2020', 'gii_2021']]

In [11]:
all_time = all_time.melt(id_vars=["iso3", "country"],
              var_name="Year",
              value_name="Gender_Inequality_Index")

all_time["Year"] = all_time["Year"].str.replace("gii_", "")
all_time = all_time.dropna()
print(all_time.head())

  iso3               country  Year  Gender_Inequality_Index
1  AGO                Angola  1990                    0.725
4  ARE  United Arab Emirates  1990                    0.659
5  ARG             Argentina  1990                    0.442
6  ARM               Armenia  1990                    0.470
8  AUS             Australia  1990                    0.185

In [47]:
all_time.to_csv("all_year_GII.csv", sep='\t', encoding='utf-8')