In [1]:
import pandas as pd
import numpy as np

data2 = pd.read_excel("Diversity_in_different_fields_sub.xlsx")

data2['Female'] = data2['Women']
data2 = data2.replace('â€“', np.nan)

data2['Female'] = data2['Female'].fillna(0).astype(int)
data2['Male'] = 100 - data2['Female']

data2

df = data2[['Occupation', 'Female', "Male"]]
df = df.set_index("Occupation")
df.index = df.index.str.replace("occupations", "")

df.to_csv('Diversity_in_different_fields_q.csv')

In [3]:
df

                                                 Female  Male
Occupation
Management                                           40    60
Business and financial operations                    54    46
Computer and mathematical                            26    74
Architecture and engineering                         16    84
Life, physical, and social science                   48    52
Community and social service                         67    33
Legal                                                52    48
Education, training, and library                     73    27
Arts, design, entertainment, sports, and media       48    52
Healthcare practitioners and technical               75    25
Healthcare support                                   84    16
Protective service                                   23    77
Food preparation and serving related                 53    47
Building and grounds cleaning and maintenance        42    58
Personal care and service                            77    23
Sales and related                                    49    51
Office and administrative support                    71    29
Farming, fishing, and forestry                       26    74
Construction and extraction                           4    96
Installation, maintenance, and repair                 4    96
Production                                           29    71
Transportation and material moving                   21    79